* {
    box-sizing: border-box;
    margin: 0px;
}
.nav {
    height: 100px;
    background-color: #cadbed;
}
.main-menu {
    float: left;
    padding-left: 0px;
    height: 100px;
}
.main-logo {
    width: 177px;
    height: 39px;
    margin-top: 33px;
    margin-bottom: 28px;
    margin-left: 15px;
    margin-right: 123px;
    line-height: 50px;
}
.main-logo img {
    width: 177px;
    height: 39px;
}
a {    
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}
.main-menu li:hover a {
    background-color: #2c71b8;
    color: white;
}
.main-menu li:hover a .none {
    background-color: none;
    color: none;
}
.home, .products, .payment, .shipping {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 141px;
    height: 50px;
    line-height: 50px;
    border-left: solid 1px #2c71b8;
    text-align: center;
}
.main-menu li .sub-menu {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    display: none;
    background-color: #2c71b8;
    position: absolute;
    left: -1px;
}
.main-menu li:hover .sub-menu{
    display: block;
}
.sub-menu li {
    text-align: left;
    display: block;
    width: 263px;
    height: 40px;
}
.sub-menu li a {
    color: white;
}
.sub-menu li a:hover {
    color: #2c71b8;
    background-color: white;
}
.sub-menu li>.lorem a {
    width: 300px;
    height: 40px;
}
.main-menu:after {
    content: "";
    display: block;
    clear: both;
}
.search {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 25px;
    border-left: solid 1px #2c71b8;
    width: 255px;
    height: 50px;
    line-height: 50px;
}
.search .search-icon {
    width: 30px;
    height: 30px;
    background: #2c71b8;
    line-height: 30px;
    text-align: center;
    position: relative;
    right: -165px;
    top: -39px;
}
.search img {
    width: 14px;
    height: 12px;
}

input[placeholder] {
    height: 40px;
    width: 200px;
    border-color: #2c71b8;
    background-color: #cadbed;
}
::placeholder {
    color: #2c71b8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.cart .cart-button {
    width: 40px;
    height: 40px;
    margin: 31px 15px 29px 5px;
    border: 0px;
    background: #ffffff;
    line-height: 40px;
    padding-top: 3px;
    text-align: center;
}
.cart img {
    width: 18px;
    height: 20px;
}
.main-menu li {
    list-style: none;
    float: left;
    position: relative;
}
.section1 {
    height: 400px;
    background-color: #235a93;
}
.section2 {
    height: 2340px;
    background-color: #2c71b8;
}
.footer {
    height: 100px;
    background-color: #cadbed;
}